*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
   
}

body{
    font-family: 'Raleway', sans-serif;

}

.hero{
    /* background-image: linear-gradient(120deg, rgba(241, 147, 251, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("../img/header1.jpg");
    width: 100%;
    height: 400px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.caja{
    
    position: relative;
}

.texto1{
    position: absolute;
    top: 150px;
    left: 5%;
    font-size: 90px;
    color: white;
    
}
.texto2{
    position: absolute;
    top: 250px;
    left: 5%;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.texto3{
    display: inline-block; 
    position: relative;
}
.img1{
    position: absolute;
    
}

.boton1{
    display: inline-block; 
    text-decoration: none; 
    padding: 10px 25px; 
    background: #85d6f4; 
    border-radius: 20px; 
    color: #fff;
}

#myDiv1{

    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    
}
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url("../img/graficos/s2/boton.png");
    
}

.carousel-control-next-icon:after
{
  content: '';
  font-size: 40px;
  color: #bccbfc;
}

.carousel-control-prev-icon:after {
  content: '';
  font-size: 40px;
  color: #bccbfc;
} */

.carousel-indicators {
    margin: 10px;
    height: 0px;
}

.carousel-indicators ol {
    width: 20%;
}


.carousel-indicators li{
    height: 20px !important;
    border-radius: 80% !important;
    width: 3%;
    background-color: #bccbfc;
}

#cubreboca,
#sanadistancia,
#celular,
#temperatura,
#lavarmanos,
#silla{

    z-index: 9998; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: #3fb7f4; 
    display: none; 
    
}

#mhpantalla{
    z-index: 9997; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: #75b0f6; 
    display: none;
}


@media screen and (max-width: 700px){

    .img-enfermera,
    .img-linea-vertical,
    .ola-responsive-3,
    .ola-responsive-2{
        display: none;
    }

}